################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ConsoleAppASM/bin/Debug
/ConsoleAppASM/obj
/.vs
